# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.egg-info/
*.eggs/
*.manifest
*.spec

# Streamlit
.streamlit/

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environments
venv/
ENV/
env/
.venv/
env.bak/
venv.bak/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Private files
.env